.input-options{
    padding: 20px;
}

.input-options.option-title{

}
.input-options.option-input{
    width: 300px;
    padding-left:100px;
}

.input-options.option-input input[type="text"] {
    width:350px;
}


.description {
     margin-top: 4px;
    margin-bottom: 0;
    font-style: italic;
    color: #667;
}


.theme-id-container{
    background:rgba(15, 15,15, 0.9);
    padding: 10px;
    border-radius: 3px;
    overflow: hidden;
}
.theme-id-container h4{
   color: #fff;
}

.theme-item img {
    width: 100%;
}